.setHeight {
    height: 100vh !important;
    overflow: auto !important;
}

.logo {
    height: 50;
    width: 50;
}
.bar {
    max-width: 100%;
    padding: 0;
    background-color: #d7d7d7;
    display: inline-flex;
    line-height: 20;
    align-items: "center";
    padding: 5;
}
.map-container {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    height: 500px;
    max-width: 100% !important;
}
.ant-card-body .MuiGrid-grid-xs-4 {
    max-width: 100% !important;
}
.padding-left15 {
    padding-left: 15px !important;
}
.padding-right15 {
    padding-right: 15px !important;
}
.padding-bottom15 {
    padding-bottom: 15px !important;
}
.padding-top15 {
    padding-top: 15px !important;
}
.custom-border-top .ant-card-meta-detail {
    border-top: 1px solid #f0f2f5;
}
.custom-text-center {
    text-align: center !important;
}
.adjust-map {
    margin-top: 4% !important;
    margin-bottom: 2% !important;
}
.custom-layout-header {
    position: relative;
    z-index: 1;
    width: 100%;
    line-height: 20px !important;
    padding: 5px !important;
}
.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}
.imgIcon {
    width: 24px;
}
.custom-left {
    font-size: 1.2rem;
    width: 30%;
}
.custom-middle {
    width: 33%;
    display: inline-flex;
}
.custom-right {
    width: 30%;
}

@media only screen and (max-width: 767px) {
    .custom-left {
        font-size: 12px;
        width: 22%;
    }
    .custom-middle {
        display: none;
    }
    .custom-right {
        width: 49%;
    }
}
