.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  margin-top: 20px;
}

.qr {
  height: 200px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  border: none;
  background-color: "transparent";
  display: flex;
  align-items: center;
  position: relative;
}
.action {
  margin-top: 10px;
}

.qrImage {
  position: relative;
  top: 0;
  height: 99.99%;
  margin: auto;
}
.borderNone {
  border: none !important;
}
.businessIcon {
  width: 24px;
}
.searchInput {
  border: none !important;
  border-bottom: 2px solid #999 !important;
  width: 97%;
}
.searchInput:hover {
  border: none !important;
  border-bottom: 2px solid #3f51b5 !important;
}
.customMargin10 {
  margin: 0px 10px 10px 0px;
}
.customMarginTop5 {
  margin-top: 5px;
}
.listClickable {
  cursor: pointer;
  position: relative;
}
.listClickable:hover {
  text-decoration: none;
  /* background-color: rgba(0, 0, 0, 0.04); */
}
.noBackground {
  background-color: transparent !important;
}
.googleSearchInput {
  border-bottom: none !important;
}
.googleSearchInput div {
  width: 100%;
}
.marginRight10px {
  margin-right: 10px;
}
.width100Per {
  width: 100%;
}
.iconCloseCircle:before {
  content: "x";
}
.myTimeStamp {
  display: inline;
  margin-left: 15px;
}
.gxIconViews {
  position: static;
  margin: -10px 0px 10px 30px;
  top: 5px;
  right: -15px;
  float: right;
  padding-top: 10px;
}
.myAddress {
  width: 100%;
}
.closeIcon {
  font-size: 16px;
}
.dateTimestamp {
  width: 90%;
  margin-top: 10px !important;
}
.tickIcon {
  display: inline;
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  .tickIcon {
    margin-left: 3px;
  }
  .myTimeStamp {
    display: block;
    margin-left: 15px;
  }
}
.listClickable ul {
  position: absolute;
  top: 11px;
  right: 0px;
}
.marginBottom20 {
  margin-bottom: 20px !important;
}
.padding5 {
  padding: 5px 0 !important;
}


.form {
  padding: 10px !important;
  border: #999999 solid 1px;
  border-radius: 3px;
}