.custom-drawer .ant-drawer-content-wrapper {
    width: 40% !important;
}
@media only screen and (max-width: 767px) {
    .custom-drawer .ant-drawer-content-wrapper {
        width: 80% !important;
    }
}

.issue-certificate-button{
    margin-left: 10px;
}

.dashboard-buttons {
    margin-bottom: 10px;
}